<!DOCTYPE html>
<html>

<head>
 {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Navigation-with-Button.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\bootstrap\css\bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\fonts\font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\fonts\ionicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Article-List.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Contact.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Footer-Clean.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Footer-Dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Header-Dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Highlight-Blue.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Highlight-Phone.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Navbar-techkid.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\Registration-Form-with-Photo.css' %}"/>
    <link rel="stylesheet" href="{% static 'TechKidApp\assets\css\styles.css' %}"/>
    
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: rgb(59,119,205);">
        <div class="container"><a class="navbar-brand" href="{%url 'home'%}"" style="color: rgb(255,255,255);font-family: Roboto, sans-serif;">TECHKID</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'contacto'%}" style="color: rgb(255,255,255);">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'cursos'%}" style="color: rgb(255,255,255);">Cursos</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="{%url 'sesion'%}" style="color: rgb(255,255,255);">Iniciar sesión</a>
                <a class="btn btn-light action-button" role="button" href="{%url 'registro'%}" style="padding: 3px 16px;background: #fca311;border-radius: 10px;">Registrarse</a></span>
            </div>
        </div>
    </nav>
{%block content%}



{%endblock%} 
     <footer class="footer-clean" style="background: linear-gradient(rgb(63,116,204), rgb(99,67,181));">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="color: rgb(255,255,255);">Comunidad</h3>
                    <ul>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Becas</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Recursos</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Historias de éxito</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="color: rgb(255,255,255);">Compañia</h3>
                    <ul>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Sobre TECHKID</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">¡Estamos contratando!</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Centro de ayuda</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="color: rgb(255,255,255);">Enlaces de ayuda</h3>
                    <ul>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Avisos de privacidad</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Política de cookies</a></li>
                        <li><a href="#" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook" style="color: rgb(255,255,255);"></i></a><a href="#"><i class="icon ion-social-twitter" style="color: rgb(255,255,255);"></i></a><a href="#"><i class="icon ion-social-snapchat" style="color: rgb(255,255,255);"></i></a><a href="#"><i class="icon ion-social-instagram" style="color: rgb(255,255,255);"></i></a>
                    <p class="copyright" style="color: rgb(255,255,255);">TECHKID © 2021</p>
                </div>
            </div>
        </div>
    </footer>
    {% load static %}
    <script href="{% static 'TechKidApp\assets\bootstrap\css\bootstrap.min.css' %}"> </script>
    <script src="{% static 'TechKidApp\js\scripts.js' %}"></script>
</body>

</html>