{% extends "TechKidApp/base.html" %}

{% load static %}
{%block content%}

    <section class="article-list" style="background: linear-gradient(rgb(59,119,205), #6d28aa 89%), rgb(59,118,205);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="color: rgb(255,255,255);font-family: Catamaran, sans-serif;font-weight: bold;font-size: 56px;">¡Disfruta y aprende!</h2>
                </div>
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-left-radius: 20px;border-bottom-left-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img id="img1" class="img-fluid btn img1" src="{% static 'TechKidApp/assets/img/tiktok.jpg' %}" style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Aprende a programar con minecraft</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">En este curso conectaras con personas para desarrollar un servidor de minecraft desde cero.</p><a class="action" href="#">
                            <a class="action" class="open-modal" data-open="modal1"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);padding-top: 34px;padding-bottom: 24px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/marketingdig.jpg' %}"  style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Creando tu primer página web-MARVEL.</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">¡Aprenderás las bases del desarrollo web y crearas tu primer página web con tu super heroe favorito y más.<br></p>
                         <a class="action" class="open-modal" data-open="modal2"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-right-radius: 20px;border-bottom-right-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/internet.jpg' %}" style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">¿Qué es el internet?</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">¡Aprende las bases del marketing online! Descubre nuevas plataformas de Social Media, estrategias de growth hacking, publicidad digital y más.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-left-radius: 20px;border-bottom-left-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/relacional.jpg' %}" style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Algebra relacional para principiantes</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">&nbsp;El álgebra relacional es un conjunto de operaciones que describen paso a paso cómo computar una respuesta sobre las relaciones.&nbsp;</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);padding-top: 34px;padding-bottom: 24px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/deriveintegra.jpg' %}" style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Introducción a las Integrales y derivadas</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Las derivadas y las integrales como herramientas fundamentales del cálculo, nos permite modelar todos los aspectos de la naturaleza en las ciencias físicas.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-right-radius: 20px;border-bottom-right-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/algebraicas.jpg' %}" style="border-radius: 20px;"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Ecuaciones algebraicas</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;"><strong>Las ecuaciones algebraicas son una igualdad que puede expresarse como un polinomio igualado a cero. Inscríbete y aprende a resolverlas</strong></p><a class="action" href="#" style="color: rgb(255,255,255);"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-left-radius: 20px;border-bottom-left-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/excelbaisoc.jpg' %}" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;);"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Excel para principiantes</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Aprende a usar Excel básico con este curso de Excel para principiantes. Revisa las funciones y fórmulas más comunes y ¡simplifica tu trabajo!</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);padding-top: 34px;padding-bottom: 24px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/dogherine--1p7WkGACGw-unsplash.jpg' %}"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Redes sociales desde cero: Logra el éxito digital</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Gestionar nuestras redes sociales ya no es suficiente, hay que implementar una estrategia sólida que sea capaz de hacer crecer tu marca o negocio.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                    <div class="col-sm-6 col-md-4 item" style="background: rgba(0,0,0,0.4);border-top-right-radius: 20px;border-bottom-right-radius: 20px;padding-top: 34px;padding-right: 24px;padding-left: 24px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/softskills.jpg' %}"></a>
                        <h3 class="name" style="color: rgb(255,255,255);">Desarrolla una mentalidad de aprendizaje</h3>
                        <p class="description" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">Comprende tus motivaciones al aprender y crea un plan de aprendizaje personal de acuerdo a tu estilo con el curso de mentalidad de aprendizaje.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,255,255);"></i></a>
                    </div>
                </div>
            </div>
    </section>



<div class="modal" id="modal1" data-animation="slideInOutLeft">
  <div class="modal-dialog">
    <header class="modal-header">
      
      <button class="close-modal" aria-label="close modal" data-close>
        ✕  
      </button>
    </header>
    <section class="modal-content">
      <p>En los últimos meses todo el mundo habla de Minecraft como herramienta en educación. El lanzamiento de Minecraft: Education Edition ha hecho que muchos se interesen por el videojuego, que a partir de ahora tendrá su propia versión específicamente diseñada para el aula.
Tras haber hablado de las posibilidades y los beneficios de usar Minecraft en clase, hay muchos que continúan teniendo una duda capital: Realmente, ¿qué es Minecraft? ¿Cómo es posible que un videojuego pueda tener cabida en el aula y en la educación? Para los que no sepan de qué trata o para los que nunca lo hayan visto en acción, hoy vamos a desmigar los detalles de Minecraft, que por si fuera poco es considerado por muchos uno de los títulos más exitosos de la historia de los videojuegos.</p>
    </section>
    <footer class="modal-footer">
      The footer of the first modal
    </footer>
  </div>
</div>

<div class="modal" id="modal2" data-animation="slideInOutLeft">
  <div class="modal-dialog">
    <header class="modal-header">
      <button class="close-modal" aria-label="close modal" data-close>
        ✕  
      </button>
    </header>
    <section class="modal-content">
      <p>En los últimos meses todo el mundo habla de Minecraft como herramienta en educación. El lanzamiento de Minecraft: Education Edition ha hecho que muchos se interesen por el videojuego, que a partir de ahora tendrá su propia versión específicamente diseñada para el aula.
Tras haber hablado de las posibilidades y los beneficios de usar Minecraft en clase, hay muchos que continúan teniendo una duda capital: Realmente, ¿qué es Minecraft? ¿Cómo es posible que un videojuego pueda tener cabida en el aula y en la educación? Para los que no sepan de qué trata o para los que nunca lo hayan visto en acción, hoy vamos a desmigar los detalles de Minecraft, que por si fuera poco es considerado por muchos uno de los títulos más exitosos de la historia de los videojuegos.</p>
    </section>
    <footer class="modal-footer">
      The footer of the first modal
    </footer>
  </div>
</div>

{%endblock%} 