{% extends "TechKidApp/base.html" %}

{% load static %}

{% block content %}
{% load static %}
    <header class="text-center text-white masthead" style="background: linear-gradient(rgb(59,119,205), #6d28aa 89%), rgb(59,118,205);">
        <h1 class="text-center" style="color: rgb(255,255,255);font-family: Catamaran, sans-serif;font-weight: bold;font-size: 144px;padding-top: 0px;padding-bottom: 0px;height: 115px;margin-top: 34px;margin-bottom: 89px;">TECHKID</h1>
        <h2 class="masthead-subheading mb-0"></h2>
        
        <section class="highlight-blue" style="border-radius: 33px;margin: 1px;margin-right: 350px;margin-left: 350px;margin-bottom: 0px;background: rgba(0,0,0,0.4);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="font-size: 56px;color: rgb(255,255,255);margin-top: -34px;font-family: Catamaran, sans-serif;font-weight: bold;">Construye tu futuro</h2>
                    <p class="text-center" style="font-size: 21px;color: rgb(255,255,255);margin-top: -13px;font-family: Lato, sans-serif;">Con la impartición de cursos especializados en el área STEM (Ciencia, Tecnología, Ingeniería y Matemáticas) impactamos a miles de niños alrededor del mundo con el fin de impulsar su educación y así desarrollar las habilidades mas demandadas en la actualidad. </p>
                </div>
                <div class="buttons"><a class="btn btn-primary" role="button" href="{%url 'registro'%}" style="font-size: 16px;color: var(--bs-white);border-style: none;background: #fca311;border-radius: 30px;margin-bottom: -8px;font-family: Lato, sans-serif;padding: 13px 22px;padding-top: 24px;padding-right: 48px;padding-left: 48px;padding-bottom: 24px;">EMPIEZA AHORA</a></div>
            </div>
        </section>
        
    </header>
    <section class="article-list">
        
        <div class="container">
        {% load static %}
            <div class="intro">
                <h2 class="text-center" style="font-family: Lato, sans-serif;font-weight: bold;font-size: 48px;">Últimos lanzamientos</h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="padding-top: 0px;"><a href="#">
                <img class="img-fluid" src="{% static 'TechKidApp/assets/img/excelbaisoc.jpg' %}" style="border-radius: 20px;"></a>
                    <h3 class="name"><strong>Excel para principiantes</strong><br></h3>
                    <p class="description" style="font-family: Lato, sans-serif;">Aprende a usar Excel básico con este curso de Excel para principiantes. Revisa las funciones y fórmulas más comunes y ¡simplifica tu trabajo!</p><a class="action" href="https://www.youtube.com/watch?v=fo1VcFbv6B0"><i class="fa fa-arrow-circle-right" style="color: rgb(0,0,0);"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="padding-top: 0px;"><a href="#"></a><iframe width="400" height="275" src="https://www.youtube.com/embed/lR5QvhFQNas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h3 class="name">Redes sociales desde cero: Logra el éxito digital</h3>
                    <p class="description" style="font-family: Lato, sans-serif;">Gestionar nuestras redes sociales ya no es suficiente, hay que implementar una estrategia sólida que sea capaz de hacer crecer tu marca o negocio.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(0,0,0);"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item" style="padding-top: 0px;"><a href="#"><img class="img-fluid" src="{% static 'TechKidApp/assets/img/softskills.jpg' %}" style="border-radius: 20px;"></a>
                    <h3 class="name">Desarrolla una mentalidad de aprendizaje</h3>
                    <p class="description" style="font-family: Lato, sans-serif;">Comprende tus motivaciones al aprender y crea un plan de aprendizaje personal de acuerdo a tu estilo con el curso de mentalidad de aprendizaje.</p><a class="action" href="https://www.youtube.com/watch?v=2EfqVsOeQo8"><i class="fa fa-arrow-circle-right" style="color: rgb(0,0,0);"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}