{% extends "TechKidApp/base.html" %}

{% load static %}

{% block content %}
<header class="text-center text-white masthead" style="background: linear-gradient(rgb(59,119,205), #6d28aa 89%), rgb(59,118,205); padding-bottom: 40px;">
        <h1 class="text-center" style="color: rgb(255,255,255);font-family: Catamaran, sans-serif;font-weight: bold;font-size: 44px;padding-top: px;padding-bottom: 40px;height: 115px;margin-top: px;margin-bottom: 89px;">REGISTRATE</h1>
        <h2 class="masthead-subheading mb-0"></h2>
        
        <section class="highlight-blue" style="border-radius: 33px;margin: 1px;margin-right: 350px;margin-left: 350px;margin-bottom: 0px;background: rgba(0,0,0,0.4);">
            <div class="container">
                <div class="intro">
            <form method="post" style="color:#f6f6f6;">
            {% csrf_token %}
            
            <div class="row">
                <div>
                    <div class="form-group" >
                        <label>Nombre</label>
                        <input class="form-control" type="text" name="first_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label >Apellidos</label>
                        <input class="form-control" type="text" name="last_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label >Nombre de usuario</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label >Correo</label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label >Contraseña</label>
                        <input class="form-control" type="password" name="password1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label >Confirmar contraseña</label>
                        <input class="form-control" type="password" name="password2">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div>
                    <div class="form-group">
                        <button class="btn btn-primary "type="submit">Guardar</button>
                    </div>
                </div>
            </div>
            
        </form>

                </div>
               
            </div>
        </section>
        
    </header>


{% endblock %}