
{% extends "TechKidApp/base.html" %}

{% load static %}

{% block content %}
<header class="text-white masthead" style="background: linear-gradient(rgb(59,119,205), #6d28aa 89%), rgb(59,118,205);">
        <div class="masthead-content">
         <div class=" text-center container">
                <h2 class="masthead-heading mb-0">INICIAR SESIÓN</h2>
        </div>
<div style="margin: 0 auto;" class="col-md-6 media">
<form method="post" >
	{% csrf_token %}
	 <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
        		<label for="username">Nombre de usuario:</label>
        		<input class="form-control" type="text" name="username">
    	   </div>
        </div>
    </div>    
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
        		<label for="username">Contraseña:</label>
        		<input class="form-control" type="password" name="password">
    	   </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
               
        		<input class="btn btn-primary" type="submit" value="Ingresar">
    	   </div>
        </div>
    </div>
</form>
        </div>
        </div>
        
        <div class="bg-circle-1 bg-circle" style="background: linear-gradient(#6d28aa, #0038a8);"></div>
        <div class="bg-circle-2 bg-circle" style="background: linear-gradient(180deg, rgb(59,119,205) 30%, #59118e 100%);transform: scale(0.78);padding: -37px;margin: 166px;"></div>
        <div class="bg-circle-3 bg-circle" style="background: linear-gradient(#59118e, #003893);"></div>
        <div class="bg-circle-4 bg-circle" style="background: linear-gradient(rgb(63,114,203), #38197a);margin: 123px;"></div>
    
    </header>

   
{% endblock %}